:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
  background: #E9EBEE;
}

.card-title {
  padding-top: 15px;
  color: violet;
  margin-bottom: 0px !important;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

i {
  vertical-align: middle;
}

.table-users tbody tr:hover {
  cursor: pointer;
  background-color: #eee;
}

.nav-user-photo {
  vertical-align: middle;
}

.user_panel {
  width: 50%;
}